!!!
%html{ :lang => "en"}
  %head
    %title Pxplum
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    %link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    %script{:type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js'}
  %body
    .container
      %h1 Pxplum
      = yield
      %hr
      %div
        %p.muted Pxplum is a free software tool created by Manuel Flores, and is built with Slitaz and Sinatra.
